
:root {
    --color-sand: #eeeade;
    --color-white: #f9f9f9;
    --color-grey: #4a4a4a;
    --color-black: #3b3b3b;
}

* {
    margin: 0;
}

img {
    width: 100%;
}

body {
    background-color: var(--color-white);
}

/**********************/
/* Text */
/**********************/

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}
ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

button {
    background-color: var(--color-black);
    border:0px;
    height: 12vh;
    width: 50vw;
    font-size: 2rem;
    color: var(--color-white);
}
button:hover {
    cursor: pointer;
}

/**********************/
/* Header */
/**********************/

header {
    background-color:  var(--color-sand);
    position: fixed;
    width: 100%;
}

.logo {
    width: 30%;
    padding: 5px 10px 0px 10px;
}

header nav {
    display: flex;
}

.burger {
    width: 8vw;
    height: 7vh;
    position: relative;
    padding: 5px 20px 0px 0px;
}

.menuItems {
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0px;
    top: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--color-sand);
    font-size: 2rem;
    text-align: center;
}

.menuItems li {
    padding: 6px;
}


/**********************/
/* footer */
/**********************/

footer {
    background-color: var(--color-sand);
    text-align: center;
}

.footerMenu {
    display: none;
}

.footerLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    align-items: center;
}
.footerLinks img {
    width: 20vw;
}

/**********************/
/* Animation */
/**********************/



/**********************/
/* Media Query */
/**********************/


@media only screen and (min-width: 800px) {
    .burgerMenu {
        display: none;
    }
    .menuItems {
        display: flex;
        flex-direction: row;
        position: relative;
    }
}


