@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    src: url("files/fonts/Inter-Light-BETA.woff2?v=3.11") format("woff2"),
        url("files/fonts/Inter-Light-BETA.woff?v=3.11") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    src: url("files/fonts/Inter-Regular.woff2?v=3.11") format("woff2"),
        url("files/fonts/Inter-Regular.woff?v=3.11") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    src: url("files/fonts/Inter-Medium.woff2?v=3.11") format("woff2"),
        url("files/fonts/Inter-Medium.woff?v=3.11") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    src: url("files/fonts/Inter-SemiBold.woff2?v=3.11") format("woff2"),
        url("files/fonts/Inter-SemiBold.woff?v=3.11") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    src: url("files/fonts/Inter-Bold.woff2?v=3.11") format("woff2"),
        url("files/fonts/Inter-Bold.woff?v=3.11") format("woff");
}


:root {
    --color-sand: #eeeade;
    --color-white: #f9f9f9;
    --color-grey: #4a4a4a;
    --color-black: #3b3b3b;
}

* {
    margin: 0;
    
}

img {
    width: 100%;
}

body {
    background-color: var(--color-white);
}

main {
    padding-top: 70px;
}

section {
    padding: 0px 15px 0px 15px;
}

/**********************/
/* Text */
/**********************/

h1 {
    font-size: 3rem;
    text-align: left;
    color: var(--color-black);
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    text-align: center;
    color: var(--color-black);
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--color-black);
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
}

p {
    font-size: 1rem;
    margin: 2px;
    color: var(--color-black);
    font-family: 'Inter';
}
ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: var(--color-black);
    font-family: "inter";
}

a {
    text-decoration: none;
    color: var(--color-black);
}

button {
    background-color: var(--color-black);
    border:0px;
    height: 9vh;
    width: 50vw;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: var(--color-white);
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    border-radius: 2px;
}
button:hover {
    cursor: pointer;
    animation: hoverHighlight 0.1s ease-out both;
}

/**********************/
/* Header */
/**********************/

header {
    background-color:  var(--color-sand);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo {
    width: 30%;
    padding: 5px 10px 0px 10px;
}

.logo:hover {
    animation: hoverEmphasis 0.1s ease-in both;
}

header nav {
    display: flex;
}

.burgerMenu {
    position: absolute;
    right: 0px;
    padding: 10px 20px 0px 0px;
}

.burger {
    width: 10vw;
}

.menuItems {
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0px;
    top: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--color-sand);
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.menuItems li {
    padding: 6px;
}

.menuItems li:nth-child(1) {
    padding-top: 80px;
}

/**********************/
/* footer */
/**********************/

footer {
    background-color: var(--color-sand);
    text-align: center;
    margin-top: 20px;
    padding-bottom: 4px;
}

.footerMenu {
    display: none;
}

.footerLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    align-items: center;
}

.icon {
    width: 12vw;
    justify-self:center;
}

/**********************/
/* Homepage */
/**********************/

.splash {
    position: relative;
}
.splash h1 {
    display: none;
}

splash img {
    position: absolute;
    z-index: -1;
}

.splash a {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#portfolio button{
    width: 100%;
    margin: 0px 0px 20px 0px;
}

/**********************/
/* Drawings page */
/**********************/

.menuArrow {
    width: 7vw;
    padding-left: 10px;
}

.gridView {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.drawingsHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 15px;
}

/**********************/
/* Contact page */
/**********************/

.contactInfo {
    border: 1px solid var(--color-black);
    padding: 10px;
}

.contactDetail {
    display: flex;
    align-items: center;
}

.contactDetail p {
    width: 100%;
    padding-left: 10px;
    text-align: left;
    font-size: 1.3rem;
}

form {
    width: 100%;
    margin-bottom: 20px;
}

form input {
    background-color: var(--color-sand);
    width: 100%;
}

form textarea {
    background-color: var(--color-sand);
    width: 100%;
    word-break: break-word;
}

.formBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.submitForm {
    width: 50%;
    height: 9vh;
    padding: 10px;
    font-size: 2rem;
    background-color: var(--color-black);
    color: var(--color-white);
    text-transform: uppercase;
    border: 0px;
    border-radius: 2px;
}

.submitForm:hover {
    cursor: pointer;
    animation: hoverHighlight 0.1s ease-out both;
}

/**********************/
/* Animation */
/**********************/

@keyframes hoverHighlight{
    0% {
        box-shadow: 0px;
    }

    100% {
        box-shadow: 2px 3px 2px black;
    }
}


@keyframes hoverEmphasis{
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}


/**********************/
/* Media Query */
/**********************/


@media only screen and (min-width: 800px) {
    main {
        padding-top: 0px;
    }
    
    section {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    /**********************/
    /* Header */
    /**********************/  
    
    header {
        position: static;
    }  
    header nav {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .logo {
        width: 15vw;
        padding: 5px 10px 0px 10px;
    }
    .burgerMenu {
        display: none;
    }
    .menuItems {
        display: flex;
        flex-direction: row;
        position:relative;
        height: inherit;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.5rem;
    }
    .menuItems li {
        padding-right: 25px;
    }
    .menuItems li:nth-child(1) {
        padding-top: 6px;
    }
    .menuItems li:last-child {
        padding-right: 0px;
    }  
    
    /**********************/
    /* footer */
    /**********************/
    
    .footerLinks {
        margin-bottom: 20px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;   
    }
    
    .icon {
        width: 3vw;
        justify-self:center;
    } 
    /**********************/
    /* Homepage */
    /**********************/
    
    .splash h1 {
        display:block;
        position: absolute;
        bottom: 180px;
        left: 160px;
        font-size: 3.5rem;
    }
    
    .splash button {
        width: 25vw;
    }

    .splash a {
        position: absolute;
        bottom: 20px;
        left: 160px;
    }
    
    /**********************/
    /* Contact page */
    /**********************/
    

}


